body {
  margin: 0;
  background: url("../images/homepage_bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

.wrapper {
  display: flex;
}

.homepagecontent {
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 25vw;
  margin-right: 3vw;
  margin-top: 30vh;
  margin-bottom: 0;
  padding: 1vw;
  width: 50vw;
  height: auto;

}
.coolpatrolimg1 {
  float: left;
  margin-right: 1vw;
  margin-bottom: 1vh;
}

.navbar{
  position: -webkit-sticky;
  position: sticky;
  top: 15%;
  margin-top: 30vh;
  height: 70vh;
  width: 6vw;
  background-color: rgba(0, 0, 0, 0.5)
}


p {
  margin: 0vw;
  color: white;
}
